:root {

}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.first-column {
    width:30%;
    padding:20px;
}
.forecast-container{
    width:100%;
}
.current-display{
    border: 1px solid #333;
    padding: 0 10px;
}

.curr-title{
    display: flex;
    flex-direction: row;
    align-items: top;
}
.main-weather {
    display: flex;
    flex-direction: row;
}


{
    padding-top: 20px;
}